In [120]:
# import names as nm
import pandas as pd 
import random as r
import assignments as s
import numpy as np 
import plotly.express as ply
import Metrics as m

In [136]:
StudentInfoDataFrame = m.CreateDataFrame()
print(StudentInfoDataFrame)

     StudentNumber  Halls Origin         Name SIR Course  Social
0                0  South     UK      Michael   S   ARTS       4
1                1  South     UK  Christopher   S   ARTS      10
2                2   East  China      Jessica   S   STEM       9
3                3  North     UK      Matthew   S   ARTS       9
4                4   West  China       Ashley   S   ARTS       7
..             ...    ...    ...          ...  ..    ...     ...
995            995  South  China         Mike   S   ARTS       5
996            996  North     US        Chloe   S   ARTS       5
997            997  South     UK       Alecia   I   ARTS      10
998            998  South     UK          Sam   I   STEM       7
999            999  South     EU        Rocio   S   STEM       2

[1000 rows x 7 columns]

In [167]:
StudentInfoDataFrameFiltered = StudentInfoDataFrame[(StudentInfoDataFrame['SIR'] == 'S')&
                                                    ~(StudentInfoDataFrame['Halls'] == None) ]
print(StudentInfoDataFrameFiltered)

     StudentNumber  Halls Origin         Name SIR Course  Social
0                0  South     UK      Michael   S   ARTS       4
1                1  South     UK  Christopher   S   ARTS      10
2                2   East  China      Jessica   S   STEM       9
3                3  North     UK      Matthew   S   ARTS       9
4                4   West  China       Ashley   S   ARTS       7
..             ...    ...    ...          ...  ..    ...     ...
992            992  North  China        Dusty   S   STEM       9
994            994  South     UK     Adrianne   S   STEM       3
995            995  South  China         Mike   S   ARTS       5
996            996  North     US        Chloe   S   ARTS       5
999            999  South     EU        Rocio   S   STEM       2

[826 rows x 7 columns]

In [168]:
StudentInfoDataFrameFiltered = StudentInfoDataFrameFiltered[~(StudentInfoDataFrameFiltered['Halls'] == None) ]
print(StudentInfoDataFrameFiltered)

     StudentNumber  Halls Origin         Name SIR Course  Social
0                0  South     UK      Michael   S   ARTS       4
1                1  South     UK  Christopher   S   ARTS      10
2                2   East  China      Jessica   S   STEM       9
3                3  North     UK      Matthew   S   ARTS       9
4                4   West  China       Ashley   S   ARTS       7
..             ...    ...    ...          ...  ..    ...     ...
992            992  North  China        Dusty   S   STEM       9
994            994  South     UK     Adrianne   S   STEM       3
995            995  South  China         Mike   S   ARTS       5
996            996  North     US        Chloe   S   ARTS       5
999            999  South     EU        Rocio   S   STEM       2

[826 rows x 7 columns]

In [169]:
StudentInfoDataFrameFiltered = StudentInfoDataFrameFiltered[(StudentInfoDataFrameFiltered['Course'] == 'ARTS') ]
print(StudentInfoDataFrameFiltered)

     StudentNumber  Halls Origin         Name SIR Course  Social
0                0  South     UK      Michael   S   ARTS       4
1                1  South     UK  Christopher   S   ARTS      10
3                3  North     UK      Matthew   S   ARTS       9
4                4   West  China       Ashley   S   ARTS       7
5                5   West     UK     Jennifer   S   ARTS       5
..             ...    ...    ...          ...  ..    ...     ...
986            986   East     UK    Domonique   S   ARTS       5
990            990  North     EU        Kacie   S   ARTS       8
991            991   East     UK        Jodie   S   ARTS       3
995            995  South  China         Mike   S   ARTS       5
996            996  North     US        Chloe   S   ARTS       5

[401 rows x 7 columns]